API_URL="http://127.0.0.1/api"
PORT=5050
MONGODB_URL="mongodb://127.0.0.1:27017/main"
CLERK_PUBLISHABLE_KEY="publishable-clerk-key"
CLERK_SECRET_KEY="secret-clerk-key"
ADMIN_KEY="secret-key-for-admin-account-creation"
FLUTTER_KEY="flutter-secret-key"