.btn:focus, 
.btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
}


/* NAVBAR */

.navbar-orange {
    background-color: #B2560D;
}

.nav-link,
.navbar-brand {
  color: white;
}

.navbar-brand:focus {
  color: white;
}

.nav-link:hover,
.navbar-brand:hover {
  color: lightgray;
  transition: color 0.2s ease-in-out;
}

.nav-link-active {
  text-decoration: none;
  color: gold !important;
  font-weight: bold;
}


/* LOGIN PAGE */

.btn-login {
    color: white;
    background-color: #B2560D;
    
}

.btn-login:hover {
    background-color: #8a430b;
}

.btn-login:focus,
.btn-login:active {
  background-color: #8a430b !important;
  color: white !important;
  box-shadow: none !important;
  outline: none;
  box-shadow: none; 
}

.input-field {
  width: 85%;
  background-color: #212529;
}

.input-field .form-control {
  background-color: lightgrey;
}


/* ORDERS PAGE */

.orders-page{
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 60px;
}


/* ANALYTICS PAGE */

.analytics-page {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 60px;
}

.analytics-tag[type="checkbox"] {
  display: none;
}

.analytics-tag[type="checkbox"] + span {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.analytics-tag[type="checkbox"]:checked + span {
  color: orange;
  font-weight: bold;
}

.analytics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.text-revenue {
  color: orange;
}

.text-orders {
  color: gold;
}


/* TABLES PAGE */

.tables-page {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 60px;
  min-width: 340px;
}

.tables-container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-auto-rows: min-content;
  gap: 1vw;
}

.table-button {
  width: 100%;
  min-width: 60px;
  aspect-ratio: 3 / 2;
  border: 2px solid orange;
  border-radius: 8px;
  background-color: bisque;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-button img {
  width: 48px;
  height: 48px;
  margin-left: 1vw;
  object-fit: contain;
  pointer-events: none;
}

.booked {
  background-color: coral;
  color: #830000;
}

.side-order {
  display: block !important;
  position: relative;
  width: 20vw;
  min-width: 260px;
  padding: 16px;
  border: 2px solid orange;
  border-radius: 12px;
  background-color: bisque;
  color: black;
}

.side-order-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: black;
  cursor: pointer;
}


/* MEDIA QUERIES */

/* On devices smaller than 1440px (medium laptops) */
@media (max-width: 1440px) {
  .table-button h3 {
    font-size: 1.5rem;
  }
}

/* On devices smaller than 1280px (small laptops) */
@media (max-width: 1280px) {
  .table-button h3 {
    font-size: 1.2rem;
  }

  .table-button img {
    width: 36px;
    height: 36px;
    margin-left: 0.5vw;
  }

  .tables-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }
}

/* On devices smaller than 768px (tablets) */
@media (max-width: 768px) {
  .table-button img {
    display: none;
  }
}

/* On devices smaller than 576px (phones) */
@media (max-width: 576px) {
  .input-field {
    width: 100%;
  }

  .table-button {
    width: 120px;
  }

  .table-button img {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 1vw;
  }

  .table-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5vh;
  }

  .table-null {
    display: none;
  }
}